.header{
    background-color:  (rgb(77, 13, 13));
    position: 0 0;
    background-repeat: no repeat;
    size: cover;
    height: 800px;
}
section1{
    text-align: center;    
}
section2{
    text-align: center;
}
section3{
    text-align: center;
}
;